<div class="card">
  <div class="card-body">
    <div class="card-header">
      <h2>Order foods</h2>
      
    </div>
    <form>
      <div class="form-group">
        <label for="table-id">Table ID</label>
        <select id="table-id" class="custom-select">
          <option value="">Please choose table</option>
        </select>
      </div>
      <div class="form-group">
        <div class="form-row">
          <div class="col-md-4">
            <label for="name-0">Food name</label>
            <input list="list-0" id="name-0" class="form-control">
            <datalist id="list-0">
              <% foods.forEach(function(food){ %>
                <option value="<%= food.name %>">
              <% }) %>
            </datalist>
          </div>
          <div class="col-md-4">
            <label for="amount-0">Amount</label>
            <input type="text" class="form-control">
          </div>
        </div>
      </div>
    </form>
  </div>
</div>