<div class="card">
  <div class="card-body">
    <div class="card-header">
      <h2>Order foods</h2>
    </div>
    <form>
      <div class="form-group">
        <label for="table-id">Table ID</label>
        <select id="table-id" class="custom-select" autocomplete="off">
          <option value="">Please choose table</option>
          <% tables.forEach(function(table){ %>
            <option value="<%= table._id %>"><%= table.name %></option>
          <% }) %>
        </select>
        <small class="text-danger" id="invalid-table"></small>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="card-header d-flex justify-content-between align-items-center">
            <h4>Place orders</h4>
            <button class="btn btn-primary" id="add-order-btn">Add order</button>
          </div>
          <div id="app-order">
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-4">
                  <label for="name-0">Food name</label>
                  <input list="list-0" id="name-0" order-id="0" class="form-control food" autocomplete="off">
                  <small class="text-danger" id="invalid-0"></small>
                  <datalist id="list-0">
                    <% foods.forEach(function(food){ %>
                      <option value="<%= food.name %>"><%= food.name %></option>
                    <% }) %>
                  </datalist>
                </div>
                <div class="col-md-4">
                  <label for="amount-0">Amount</label>
                  <input type="text" id="amount-0" order-id="0" class="is-integer form-control amount" autocomplete="off">
                  <small class="text-danger" id="invalid-amount-0"></small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <button class="btn btn-primary" id="order-btn">Order</button>
    </form>
  </div>
</div>
<script src="/assets/js/service/index.js"></script>
