.app-container {
  height: 100vh;
  display: grid;
  grid-template-rows: 56px 1fr;
}

.auth-content {
  display: grid;
  place-items: center;
}

.app-hidden {
  display: none;
}

.app-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 720px));
  gap: 1em;
}